:root {
  --CALIBRI: Calibri, 'Trebuchet MS', sans-serif;
  --accentfont: 'Climate Crisis', cursive;
  --headerheight: 6rem;
  --sidebarwidth: 18rem;
  --grey: #7a7a7a;
  --buttoncolor: #b469ff;
  --buttonhover: #fcbbff;
  --sidebarcolor: #40ffff;
  --checkcolor: red;
}

html {
  font-size: 16px;
/*   user-select: all; */
}
button{
  cursor: pointer;
}
#page_con {
  min-height: 100lvh;
  padding-top: var(--headerheight);
  display: flex;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

nav {
  width: 100%;
  height: var(--headerheight);
  background: linear-gradient(transparent 20%, #00beeac2 100%), 0% 70% url("images/holorender2.png") no-repeat;
  position: fixed;
  top: 0;
  border-width: 0 0 1px 0;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 0 2em;
}
#nav_btns{
  align-self: flex-end;
}
nav button{
  background: none;
  border: none;
  font-weight: bold;
  font-size: 1.25em;
  color: white;
  padding: 1em;
}
nav button:hover{
  color: var(--buttonhover);
}

h1 {
  font-size: 3rem;
  font-family: 'Climate Crisis', cursive;
  font-weight: bold;
  text-align: center;
  margin-right: auto;
  letter-spacing: 1px;
  color: transparent;
  -webkit-text-stroke: 2px white;
  
}

#sidebar {
  background: linear-gradient(var(--sidebarcolor), #0034ff);
/*   box-shadow: 1px 0px 4px var(--grey); */
  /*! font-size: 1.25em; */
  padding: 1em;
  width: var(--sidebarwidth);
  margin-top: var(--headerheight);
  position: fixed;
  bottom: 0;
  top: 0;
  font-size: calc(1rem + 2px);
}
.dropdown_con{
  margin-top: 1em;
}
.dropdown_btn{
  font-family: var(--accentfont);
  cursor: pointer;
  border: 1px solid black;
  border-width: 0 0 1px 0;
  padding-bottom: .25em;
  margin-bottom: .25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrow{
  border: solid black;
  border-width: 0 0.15em 0.15em 0; /* width of the arrow lines */
  padding: 0.2em; /* size of the arrow */
  transform: rotate(-45deg);
  transition: .2s linear;
}
.arrowdown{
  transform: rotate(45deg);
  margin-bottom: 0.3em;
}
.dropdown_con ul li {
  color: black;
  margin-left: 1em;
  font-weight: normal;
  
}
input[type="checkbox"]{
  font-size: inherit;
  -webkit-appearance: none;
  position: relative;
  vertical-align: -.35em;
  margin-right: .5em;
  width: 1em;
  height: 1em;
  background: white;
  border: 2px solid black;
  border-radius: 2px;
  box-shadow: 1px 1px 2px black;
  cursor: pointer;
}
input[type="checkbox"]::before {
  content: "🗸";
  font-weight: bold;
  color: var(--checkcolor);
  position: absolute;
  font-size: 1.5em;
  right: -4px;
  top: -0.4em;
  visibility: hidden;
}
input[type="checkbox"]:checked {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
/*   background: rgba(212, 212, 212, .8); */
}
input[type="checkbox"]:checked::before {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
  visibility: visible;
}

label{
  cursor: pointer;
}

#items_con {
  flex: 2;
  margin-left: var(--sidebarwidth);
}

#filters_div{
  padding: .5em 1em;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5em;
  position: fixed;
  background: white;
  width: 100%;
  background: #f5ecff;
}
.filter{
  background: var(--sidebarcolor);
  padding: .25em .5em;
  border-radius: .5em;
}
.filter:first-letter{
  color: white;
}
.item-listing{
  width: 55%;
  display: flex;
  gap: .5em;
  border: 1px solid var(--grey);
  border-width: 0 0 1px 0;
  margin: 0 auto;
}
.item-listing:first-of-type{
  margin-top: 3em;
}

.item-image {
  margin: 1em 0;
  flex: 1;
  background: red;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: space-between;
}

.item-name {
  font-size: 1.8em;
  font-weight: 600;
  line-height: .8em;
  padding-bottom: .1em;
}

.item-price {
  /*   margin-top: .5em; */
  font-size: 1.5em;
}

.item-rating {
  font-size: 1.5em;
  line-height: 1em;
}

.item-delivery {
  font-size: .9em;
  margin-bottom: .3em;
  color: #f00;
/*   font-style: italic; */
/*   background: linear-gradient(90deg, #f00, #ffb300); */
/*   width: min-content; */
/*   white-space: nowrap; */
/*   -webkit-background-clip: text; */
/*   -webkit-text-fill-color: transparent; */
}
.item-info a {
  text-decoration: none;
  background: var(--buttoncolor);
  color: black;
  font-size: 1.2em;
  white-space: nowrap;
  padding: .5em;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  width: min-content;
}

.item-info a:hover {
  background: var(--buttonhover);
}